@model PartnersViewModel
@{
    ViewData["Title"] = "Partner Details";
}
<div class="container">
    <form asp-action="Add" asp-controller="Favorites" method="post">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h2 class="text-left p-2">Partner Details</h2>
                <img src="/images/indianHarvest.jpg" class="img-fluid" alt="Your Image">
            </div>

            <div class="col-lg-8 col-md-12">
                <h2 class="text-left p-2">@Model.Partner.BusinessName</h2>
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Business Address:</td>
                        <td>@Model.Partner.BusinessAddress</td>
                    </tr>
                    <tr>
                        <td>Business Type:</td>`
                        @if(Model.Partner.CategoryID==1){
                            <td>Restaurant</td>
                        }
                        else if(Model.Partner.CategoryID==2){
                            <td>Grocery</td>
                        }
                        else if(Model.Partner.CategoryID==3){
                            <td>Alcohol</td>
                        }
                        else if(Model.Partner.CategoryID==4){
                            <td>Convienience</td>
                        }
                        else if(Model.Partner.CategoryID==5){
                            <td>Flower shop</td>
                        }
                        else if(Model.Partner.CategoryID==6){
                            <td>Pet Store</td>
                        }
                        else if(Model.Partner.CategoryID==7){
                            <td>retail</td>
                        }
                        else {
                            <td>Restaurant</td>
                        }
                    </tr>
                    <tr>
                        <td>Business Mail</td>
                        <td>@Model.Partner.BusinessEmail</td>
                    </tr>
                    <tr>
                        <td>Business Phone</td>
                        <td>@Model.Partner.BusinessPhone</td>
                    </tr>
                </tbody>
                </table>
                
                    <button type="submit" class="btn btn-primary">
                        Add to Favorites
                    </button>
                    <input type="hidden" asp-for="Partner.PartnerID" />
                
            </div>
        </div>
    </form>
</div>