@model PartnersViewModel
@{
    ViewData["Title"] = "Favorites";
}

<div class="text-center mb-4">
    <h2>My Favorites</h2>
    <form asp-action="Delete" method="post">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary"
           asp-route-activeConf ="@Model.ActiveConf" 
           asp-route-activeDiv="@Model.ActiveDiv">
            Back to Home Page
        </a>
        <button type="submit" class="btn btn-primary">
            Clear Favorites
        </button>
    </form>
    <div class="m-4">
        <div class="col-6  offset-2">
            <ul class="list-group">
                @foreach (Partner partner in Model.Partners)
                {
                    <li class="list-group-item mb-2">
                        <div class="row text-right">
                            <div class="col-sm-4">
                                @partner.BusinessName
                            </div>
                            <div class="col-sm-4">
                                @partner.BusinessAddress
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
