@model Partner

<h1>Add Partner</h1>

<div style="display: flex; justify-content: flex-start;">
    <div style="width: 50%;">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="BusinessName" class="form-label"></label>
                <input asp-for="BusinessName" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="BusinessAddress" class="form-label"></label>
                <input asp-for="BusinessAddress" class="form-control">
            </div> 

            <div class="mb-3">
                <label asp-for="BusinessEmail" class="form-label"></label>
                <input asp-for="BusinessEmail" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="BusinessPhone" class="form-label">Business Phone</label>
                <input asp-for="BusinessPhone" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="CategoryID" class="form-label">Business Type</label>
                <select asp-for="CategoryID"
                        asp-items="@(new SelectList(ViewBag.Categories, "CategoryID", "Name"))"
                        class="form-select"></select>
            </div>  

            <input type="hidden" asp-for="PartnerID" />

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Add</button>
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>
