@{
    ViewData["Title"] = "Home";
    string controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
}

<h1>Welcome to the Uber Eats!</h1>

@if (TempData["message"]!=null){
    <div class="col-sm-8">
        <div class="alert alert-success text-bold">@TempData["message"]</div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            @* show link to Favorites page unless on Favorites page *@
            @if (controller != "Favorites")
            {
                var session = new UberSession(Context.Session);
                int? count = session.GetMyPartnerCount();;

                @* if there are fave teams in session, display faves link *@
                @if(count.HasValue)
                {
                    <h5 class="bg-light p-2">
                        <a asp-controller="Favorites" asp-action="Index">
                            My Favorite Teams
                        </a>
                        <span class="badge bg-light text-black">@count</span>
                    </h5>
                }
            }
            <a asp-controller="Partner" asp-action="SortedList"
               class="list-group-item">View our offerings</a>
            <a asp-controller="Home" asp-action="About"
               class="list-group-item">Learn more about us</a>
        </div>
    </div>
</div>